.App {
  text-align: center;
  color: rgb(70, 70, 70);
}

td{
  padding: 5px 30px;
  /* color: rgb(70, 70, 70); */
  /* border: 1px solid red; */
}

.text-1{
  font-weight: bold;
  color: green;
  padding-left: 0px;
}


tr{
  /* border: 1px solid green; */
}

.balance{
  border: 4px solid rgb(5, 163, 5);
  width: 160px;
  height: 160px;
  border-radius: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 152px;
  margin: 10px;
}